@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
	--bg-color: hsl(185, 41%, 84%);
	--white: hsl(0, 0%, 100%);
	--very-dark-cyan: hsl(183, 100%, 15%);
	--dark-grayish-cyan: hsl(186, 14%, 43%);
	--grayish-cyan: hsl(184, 14%, 56%);
	--very-light-grayish-cyan: hsl(189, 41%, 97%);
	--price-color: hsl(172, 59%, 47%);
	--bg-button-reset: hsl(183, 65%, 26%);
	--font-family: 'Space Mono', monospace;
}

* {
	margin: 0;
	padding: 0;
	font-family: var(--font-family);
	box-sizing: border-box;
}

