@import './base.css';

#app{
	background-color: var(--bg-color);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

.logo-app {
  margin-bottom: 6rem;
}


